@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Inter:wght@400;600;700&family=Saira+Condensed:wght@500&display=swap');

.App {
  text-align: center;
  padding: 5px;
}

body {
  background:#23252C;
  font-family: 'Inter', sans-serif;
}

.biggest-container {
  display: flex;
  justify-content: space-between;

}
/* CSS for Card.js */
/*
.main-container {
  position: static;
  width: 350px;
  height: 700px;
  margin: 0 auto;
  background: #1A1B21;
  border-radius: 6px;
  overflow: hidden;
}
*/

img {
  position: static;
  width: 350px;
  height: 350px;
  overflow: hidden;
}

.img-class{
  width: 250px;
  height: 250px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 5px;
}

.img-class .face-img{
  margin: -30px;
}


.info {
  position: static;
}

.info h2 {
  font-size: 25px;
}

.info p {
  font-size: 12.8px;
}

.info small {
  font-size: 10.24px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  height: 30px;
  display: flex;
}

.email-btn {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width: 115px;
height: 34px;
background: #FFFFFF;
border: 1px solid #D1D5DB;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 6px;
font-weight: 500;
font-size: 14px;
line-height: 16px;
margin-left: 32px;
color: black;
}

.linkedIn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 115px;
  height: 34px;
  background: #5093E2;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: white;
  margin-right: 32px;
}

a {
  vertical-align: middle;
}

.about {
  text-align: left;
  font-size: 16px;
  padding: 20px 34px 0 34px;

}

.about h2 {
  font-size: 16px;
}

.about p {
  font-size: 10.24px;
}
.interest {
  text-align: left;
  padding: 0 34px 0 34px;
}

.interest h2 {
  font-size: 16px;
}

.interest p {
  font-size: 10.24px;
}
.icons {
  display: flex;
  justify-content: center;
  background: #161619;
}

/* Theme Buttons */
.theme-buttons{
  display: flex;
  flex-direction: column;

}

.light-theme {
  margin: 300px 200px 0 0;
  background: yellow;
  width: 80px;
  height: 50px;
  border-radius: 5px;
}

.dark-theme {
  margin: 100px 200px 0 0;
  background: gray;
  width: 80px;
  height: 50px;
  border-radius: 5px;
}