.App {
  text-align: center;
  padding: 30px;
}

body {
  background:#23252C;

}

/* CSS for Card.js */
.main-container {
  position: static;
  width: 350px;
  margin: 0 auto;
}

img {
  position: static;
  width: 350px;
  height: 350px;
  overflow: hidden;
}

.img-class{
  width: 250px;
  height: 250px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 5px;
}

.img-class .face-img{
  margin: -30px;
}


.info {
  position: static;
}

.buttons {
  justify-content: center;
  padding-top: 10px;
  height: 30px;
  display: flex;
}

.email-btn {
  background: white;
  display: block;
  width: 60px;
  margin: 0 10px 0 0;
  border-radius: 3px;
  padding: 5px 10px 5px 10px;
}

.linkedIn {
  background: blue;
  border-radius: 3px;
  width: 100px;
  padding: 5px 10px 5px 10px;
  display: block;
  width: 60px;


}

a {
  vertical-align: middle;
}
