@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Inter:wght@400;600;700&family=Saira+Condensed:wght@500&display=swap');

.App {
  text-align: center;
  padding: 5px;
}

body {
  background:#23252C;
  font-family: 'Inter', sans-serif;
}

.biggest-container {
  position: relative;
  top: 100px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  justify-content: center;
}

img {
  position: static;
  width: 350px;
  height: 350px;
  overflow: hidden;
}

.img-class{
  width: 250px;
  height: 250px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 5px;
}

.img-class .face-img{
  margin: -30px;
}

.info {
  position: static;
}

.info h2 {
  font-size: 25px;
}

.info p {
  font-size: 12.8px;
}

.info small {
  font-size: 10.24px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  height: 30px;
  display: flex;
}

.email-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 115px;
  height: 34px;
  background: #FFFFFF;
  border: 1px solid #D1D5DB;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin-left: 32px;
  color: black;
}

.linkedIn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 115px;
  height: 34px;
  background: #5093E2;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: white;
  margin-right: 32px;
}

a {
  vertical-align: middle;
}

.about {
  text-align: left;
  font-size: 16px;
  padding: 20px 34px 0 34px;

}

.about h2 {
  font-size: 16px;
}

.about p {
  font-size: 10.24px;
}
.interest {
  text-align: left;
  padding: 0 34px 0 34px;
}

.interest h2 {
  font-size: 16px;
}

.interest p {
  font-size: 10.24px;
}

.icons {
  display: flex;
  justify-content: center;
  background: #161619;
}

/* Theme Buttons */
.theme-buttons{
  display: flex;
  flex-direction: column;
}

.light-theme {
  top: 300px;
  right: 300px;
  position: absolute;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 6px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  width: 250px;
  height: 20px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 17px 48px;
  color: black;
  background-color: yellow;
  height: 48px;
}

.light-theme:hover {
  transform: scale(1.04);
  background-color: white;
}

.dark-theme {
  top: 200px;
  right: 300px;
  position: absolute;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 6px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  width: 250px;
  height: 20px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 17px 48px;
  color: yellow;
  background-color: #000000;
  height: 48px;
}

.dark-theme:hover {
  transform: scale(1.04);
  background-color: gray;
}

